* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "helvetica neue", helvetica, arial, sans-serif;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.container {
    display: flex;
}

.container-group {
    width: 50%;
    padding-top: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
    margin-bottom: 100px;
    padding: 20px;
}

.container-group::-webkit-scrollbar {
    display: none;
}

.container-group__part {
    width: 50%;
    padding-top: 10px;
    position: fixed;
    right: 0;
    padding: 20px;
}

h1 {
    background-color: #b0e0e6;
    border: 3px solid black;
    font-size: 38px;
    text-align: center;
}

h1 i {
    color: purple;
}

p {
    background-color: #b0e0e6;
    border: 3px solid black;
    font-size: 18px;
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 38px;
    padding: 20px 10px;
}

table {
    table-layout: fixed;
    overflow: scroll;
    border-collapse: collapse;
    border: 3px solid #000000;
    width: 100%;
}

.col-1 {
    width: 7%;
}

th,
td {
    padding: 3px;
    border: 1px solid black;
}

th {
    letter-spacing: 2px;
}

td {
    letter-spacing: 1px;
    font-size: 12px;
}

thead td {
    font-weight: 800;
    background: #b0e0e6;
}

button {
    background-color: #C7C3C2;
    border: 0px solid gray;
    padding: 20px;
    cursor: pointer;
    color: #000000;
    -webkit-appearance: none;
}

.td-button {
    width: 24%;
    background-color: #C7C3C2;
    margin: 10px 0;
    cursor: pointer;
    text-align: center;
}

.table-border {
    border: 0px solid black;
    margin-bottom: 10px;
    width: 100%;
}

.container-group__part-display {
    display: none;
}

@media (max-width: 1280px) {

    .container {
        display: flex;
        flex-direction: column;
    }

    .container-group,
    .container-group__part {
        width: 100%;
        padding: 0;
    }

    .container-group {
        margin-bottom: 0;
    }

    .container-group__part {
        display: none;
    }

    .container-group__part-display {
        display: block;
        position: static;
    }

    footer {
        position: sticky;
    }

    .table-border {
        margin-bottom: 0;
    }
}

@media (max-width: 750px) {
    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 16px;
    }

    button {
        padding: 10px;
        font-size: 10px;
    }

    td {
        font-size: 10px;
        word-break: break-all;
    }

    p {
        padding: 10px;
        font-size: 12px;
    }
}